<div class="col-12 col-md-8 col-xl-6 ms-auto cs case-study--negativeMargin">
    <div class="bg-moon case-study d-flex justify-content-between">
        <div class="case-study__left py-4 ps-6 pt-md-6 pb-md-5 ps-md-10">
            <p class="h6 text-uppercase fw-semibold mb-2 mb-md-4">case study</p>
            <p class="h5 case-study__description">Integer at neque ac metus fringilla dapibus et eu eros.</p>
        </div>
        <div class="case-study__right @@background">
            <i class="icon-arrow-right case-study__right__icon @@iconColor"></i>
        </div>
    </div>
</div>
