<header class="nav-bar">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            @@include('../../offcanvas.html')

            <a href="index.html" class="navbar-brand ps-9 ps-xl-0">
                <img src="images/logo-dark.svg" alt="Logo" class="nav-bar__logo__image" />
            </a>

            <ul class="nav-bar__links h-100">
                <li class="mb-0">
                    <a href="about.html">About</a>
                </li>
                <li class="mb-0">
                    <a href="blog-listing.html">Blog</a>
                </li>
                <li class="mb-0">
                    <a href="#">Team</a>
                </li>
                <li class="mb-0">
                    <a href="#">Career</a>
                </li>
                <li class="mb-0">
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
            <div class="nav-bar__contact-btn">
                <a href="#" class="btn btn-secondary text-capitalize">join us now</a>
            </div>
        </div>
    </div>
</header>
